@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color:#009688;
}

html,
body {
  width: 100vw;  
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #bfbfbf;
  font-family: "Montserrat", sans-serif;
  /* outline: 1px solid red; */
}
#__next {  
  width: 100%;
  height: 100%;
}

/* HEADER */
header {
  position: absolute;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 20px;
  z-index: 999;
}
#logo {
  font-size: 40px;
  font-weight: 300;
  color: var(--main-color);
}
nav>ul>li{
  display: inline-block;
  list-style: none;
}
nav>ul>li>a{
  padding: 10px 20px;
  text-decoration: none;
}
nav>ul>li>a:hover, nav>ul>li>a.active{
  color: var(--main-color);
  font-weight: 600;
}

main {
  background-image: url('/images/bg2.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right;
  padding: 130px 80px 0;
}

aside {
  position: absolute;
  width: 30px;
  height: 100px;
  left: 20px;
  bottom: 100px;
  z-index: 999;
}
aside>ul>li{
  list-style: none;
  margin-bottom: 20px;
}
aside>ul>li>a{
  padding: 10px 20px;
  text-decoration: none;
}
aside>ul>li>a svg{
  transition: transform .5s;
}
aside>ul>li>a:hover svg{
  transform: translateX(10px);
}

#greeting {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.8em;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-top: -40px;
}
#greeting>span{
  margin-left: 3px;
}
#greeting>h1 {
  color: var(--main-color);
  font-weight: 500;
}

#page-indicator {
  position: absolute;
  text-align: right;
  right: 40px;
  bottom: 30px;
  z-index: 999;
}

#page-indicator>ul{
  list-style: none;
}
#page-indicator>ul>li{
  margin-bottom: 20px;
}
#page-indicator>ul>li>a{
  border-right: 2px solid var(--main-color);
  padding: 5px 10px;
  transition: border .2s;
}
#page-indicator>ul>li>a:hover, #page-indicator>ul>li>a.active{
  border-right-width: 6px;
}

#portfolios{
  height: 95%;
}

#portfolio-view{
  display: flex;
  justify-content: center;
  height: 65%;
  margin-bottom: 35px;
}
#project-card{
  position: absolute;
  background: #1a2232;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 0 16px 0px rgb(0 0 0);
}
#project-card.zoom{
  flex-direction: row;
  height: 94%;
  inset: 30px;
  z-index: 9999;
  transition: inset .5s;
}
#project-card.zoom>img{
  cursor: unset;
  width: 60%;
  height: 90%;
  object-fit: contain;
}
#project-card>img{
  height: 80%;
  cursor: zoom-in;
}
#project-card>#close-btn{
  position: absolute;
  background-color: transparent;
  border: 0;
  font-size: 2em;
  cursor: pointer;
  top: 10px;
  right: 20px;
}
#project-detail{
}
#project-detail.zoom{
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#project-info {
  max-height: 65%;
}
#project-description {
  max-height: 100%;
  overflow-y: scroll;
  direction: rtl;
  padding: 10px;
  margin-top: 15px;
}
#project-description>p {
  direction: ltr;
}
#project-description::-webkit-scrollbar {
  width: 8px;
  background-color: #111111;
}
#project-description::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
#project-stack{
  margin-top: 15px;
}
.project-link {
  display: inline-block;
  background-color: transparent;
  border: 2px solid var(--main-color);
  padding: 5px 20px;
  margin: 15px 15px 0 0;
}

.project-button{
  background-color: #1a2232;
  border: 0;
  position: absolute;
  width: 30px;
  height: 40px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  transition: font-size .2s;
}
.project-button:hover{
  font-size: 20px;
}
.project-button.left{
  left: -30px;
  box-shadow: -3px 0 11px 0px rgb(0 0 0);
}
.project-button.left::after{
  content: '';
  display: block;
  width: 10px;
  height: 40px;
  position: absolute;
  background: #1a2232;
  right: -10px;
  top: 0;
}
.project-button.right{
  right: -30px;
  box-shadow: 3px 0 11px 0px rgb(0 0 0);
}
.project-button.right::after{
  content: '';
  display: block;
  width: 10px;
  height: 40px;
  position: absolute;
  background: #1a2232;
  left: -10px;
  top: 0;
}

#image-list{
  width: 85%;
  height: 25%;
  /* outline: 1px solid red; */
  background-color: #1a2232;
  overflow-x: scroll;
  padding: 20px 0;
  margin: 0 auto;
  box-shadow: 0 0 16px 0px rgb(0 0 0);
}
#image-list::-webkit-scrollbar {
  height: 8px;
  background-color: #111111;
}

#image-list::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5px;
}
#image-list>ul{ 
  height: 100%;
  list-style: none;
  white-space: nowrap;
}
#image-list>ul>li{
  height: 100%;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
#image-list>ul>li:first-child{
  margin-left: 20px;
}
#image-list>ul>li>img{
  height: 100%;
  object-fit: cover;
  object-position: left top;
}
#image-list.zoom{
  width: 95%;
  margin: 0;
}

.styled-btn {
  cursor: pointer;
  text-decoration: none;
  background: #bfbfbf;
  color: #1a2232;
  border-radius: 20px;
  padding: 10px 65px 10px 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 700;
  font-size: 0.75em;
  border: 2px solid #bfbfbf;
  margin-top: 5px;
}

.styled-btn > svg {
  position: absolute;
  right: 15px;
  top: 9px;
  font-size: 1.3em;
}
.styled-btn::before {
  content: "";
  position: absolute;
  display: block;
  background: var(--main-color);
  height: 35px;
  width: 60px;
  top: 0;
  right: -12px;
  transform: skewX(25deg);
  z-index: -1;
}

/* ABOUT */
#about-container {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
}

#my-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: -100px 25px 0 25px;
  gap: 10px;
}
.image-cut{
  position: absolute;
  top: -112px;
  right: -70px;
  bottom: -70px;
  left: -70px;
  border-radius: 0 0 48% 48.4%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
#photo-circle {
  position: relative;
  width: 450px;
  height: 450px;
  border: 70px solid var(--main-color);
  border-radius: 50%;
}
#photo-circle img{
  /* position: absolute; */
  width: 68%;
  margin-bottom: -15px;
  filter: brightness(0.8) drop-shadow(2px 4px 6px black);
}
.circle-skils{
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: #1a212e;
  border-radius: 50%;
}
.circle-skils:nth-child(1){
  top: 40px;
  left: -100px;
}
.circle-skils:nth-child(2){
  top: -60px;
  left: -30px;
}
.circle-skils:nth-child(3){
  top: -60px;
  right: -30px;
}
.circle-skils:nth-child(4){
  top: 40px;
  right: -100px;
}